<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>music-shop</display-name>
  <welcome-file-list>
    <welcome-file>AllMediaProcessing</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>AlbumProcessing</servlet-name>
  	<servlet-class>control.AlbumProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AlbumProcessing</servlet-name>
  	<url-pattern>/AlbumProcessing</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AllMediaProcessing</servlet-name>
  	<servlet-class>control.AllMediaProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AllMediaProcessing</servlet-name>
  	<url-pattern>/AllMediaProcessing</url-pattern> 
  </servlet-mapping>  
  
  <servlet>
  	<servlet-name>AllAlbumsProcessing</servlet-name>
  	<servlet-class>control.AllAlbumsProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AllAlbumsProcessing</servlet-name>
  	<url-pattern>/AllAlbumsProcessing</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MediumProcessing</servlet-name>
  	<servlet-class>control.MediumProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MediumProcessing</servlet-name>
  	<url-pattern>/MediumProcessing</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TypeProcessing</servlet-name>
  	<servlet-class>control.TypeProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TypeProcessing</servlet-name>
  	<url-pattern>/TypeProcessing</url-pattern> 
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>ShoppingBasket</servlet-name>
  	<servlet-class>control.ShoppingBasket</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShoppingBasket</servlet-name>
  	<url-pattern>/ShoppingBasket</url-pattern> 
  	</servlet-mapping>

   <servlet>
  	<servlet-name>ShowStatistic</servlet-name>
  	<servlet-class>control.ShowStatistic</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowStatistic</servlet-name>
  	<url-pattern>/ShowStatistic</url-pattern> 
 </servlet-mapping>
  
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
	</error-page>
</web-app>
