<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property> <!-- Please leave password blank -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/musicshop</property>
        <property name="hibernate.connection.username">root</property> <!-- Please leave username 'root' -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>
		<!-- JDBC connection pool (built-in) -->
		<property name="connection.pool_size">10</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		<!--  Mapping -->
		<mapping package="model"/>
    	<mapping class="model.Album"/>
    	<mapping class="model.MediaType"/>
    	<mapping class="model.Medium"/>
    </session-factory>
</hibernate-configuration>
